.anclas {
    min-height: 100px;
    display: flex;
    justify-content: center;
}
hr {
    margin: 0;
}

a {
    margin: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 32px;
    color: grey;
}

a :hover {
    color: rgb(158, 216, 24); 
}
